<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xwSearchLib.Configuration.xwSearch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <xwSearchLib.Configuration.xwSearch>
            <setting name="VERB" serializeAs="String">
                <value>conv.data.verb</value>
            </setting>
            <setting name="NOUN" serializeAs="String">
                <value>conv.data.noun</value>
            </setting>
            <setting name="ADVERB" serializeAs="String">
                <value>conv.data.adj</value>
            </setting>
            <setting name="XW_VERB_FILE_NAME" serializeAs="String">
                <value>xwing.data.verb</value>
            </setting>
            <setting name="XW_NOUN_FILE_NAME" serializeAs="String">
                <value>xwing.data.noun</value>
            </setting>
            <setting name="XW_ADVERB_FILE_NAME" serializeAs="String">
                <value>xwing.data.adv</value>
            </setting>
            <setting name="SERVER_TEMPLATE" serializeAs="String">
                <value>C:\Users\Christopher\Source\Repos\XWingAbilityFinder\xwSearchLib\Template\X-Wing Pilots, Upgrades and FAQ.xlsx</value>
            </setting>
            <setting name="LOCAL_OUTPUT" serializeAs="String">
                <value>C:\Users\Christopher\Source\Repos\XWingAbilityFinder\xwSearchLib\Dictionary\</value>
            </setting>
            <setting name="DICTIONARY_OUTPUT" serializeAs="String">
                <value>D:\\Hosting\\4173543\\html\\XAF\\bin\\Dictionary\\</value>
            </setting>
            <setting name="PILOT_FILE" serializeAs="String">
                <value>pilots.in</value>
            </setting>
            <setting name="UPGRADE_FILE" serializeAs="String">
                <value>upgrades.in</value>
            </setting>
            <setting name="IS_LOCAL" serializeAs="String">
                <value>True</value>
            </setting>
        </xwSearchLib.Configuration.xwSearch>
    </applicationSettings>
</configuration>