<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xwSearchLib.Configuration.xwSearch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <xwSearchLib.Configuration.xwSearch>
            <setting name="VERB" serializeAs="String">
                <value>C:\Users\Christopher\Source\Repos\XWingAbilityFinder\xwSearchLib\Dictionary\conv.data.verb</value>
            </setting>
            <setting name="NOUN" serializeAs="String">
                <value>C:\Users\Christopher\Source\Repos\XWingAbilityFinder\xwSearchLib\Dictionary\conv.data.noun</value>
            </setting>
            <setting name="ADVERB" serializeAs="String">
                <value>C:\Users\Christopher\Source\Repos\XWingAbilityFinder\xwSearchLib\Dictionary\conv.data.adj</value>
            </setting>
        </xwSearchLib.Configuration.xwSearch>
    </applicationSettings>
</configuration>