<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <trust level="Full" originUrl="https://xwing.aoitsolutions.com" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/octet-stream" />
    </staticContent>
    <httpErrors errorMode="Detailed"/>
    <defaultDocument>
      <files>
        <remove value="index.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>