v[class*="icon-"] {
  display: inline-block;
}

.icon-barrel-roll {
  background-image: url('../images/icons-sec3098ff66.png');
  background-position: 0 -672px;
  width: 20px;
  height: 20px;
}

.icon-focus {
  background-image: url('../images/icons-sec3098ff66.png');
  background-position: 0 -2735px;
  width: 20px;
  height: 20px;
}

.icon-target-lock {
  background-image: url('../images/icons-sec3098ff66.png');
  background-position: 0 -7392px;
  width: 20px;
  height: 20px;
}

.icon-evade {
  background-image: url('../images/icons-sec3098ff66.png');
  background-position: 0 -2527px;
  width: 20px;
  height: 20px;
}

.icon-cloak {
  background-image: url('../images/icons-sec3098ff66.png');
  background-position: 0 -1357px ;
  width: 20px;
  height: 20px;
}

.icon-boost {
  background-image: url('../images/icons-sec3098ff66.png');
  background-position: 0px -865px;
  width: 20px;
  height: 20px;
}

.icon-slam {
  background-image: url('../images/icons-sec3098ff66.png');
  background-position: 0 -6641px;
  width: 20px;
  height: 20px;
}

.icon-primary {
  background-image: url('../images/icons-sec3098ff66.png');
  background-position: 0 -4865px;
  color: #cd1b3d;  
  width:  25px;
  height:  25px;
}

.icon-agility {
  background-image: url('../images/icons-sec3098ff66.png');
  background-position: 0 -152px;
  color: #6dbe45;
  width: 25px;
  height: 25px;
}

.icon-hull {
  background-image: url('../images/icons-sec3098ff66.png');   
  background-position: 0 -3354px;
  color: #eeea1e;
  width:  25px;
  height:  25px;
}

.icon-shield {
  background-image: url('../images/icons-sec3098ff66.png');    
  background-position: 0 -6446px;
  color: #7fd5e7;
  width:  25px;
  height:  25px;
}

.icon-rebel {
    background-image: url('../images/icons-sec3098ff66.png');    
    background-position: 0 -5158px;
    height: 26px;
    text-align: center;
    width: 22px;
}

.icon-empire {
    background-image: url('../images/icons-sec3098ff66.png');    
    background-position: 0 -2153px;
    height: 26px;
    text-align: center;
    width: 22px;
}

.icon-scum {
    background-image: url('../images/icons-sec3098ff66.png');   
    background-position: 0 -5802px;
    height: 26px;
    text-align: center;
    width: 22px;
}

.icon-type-ASTROMECHS {
  background-image: url('../images/astromech.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-BOMBS{
  background-image: url('../images/bomb.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-CANNONS{
    background-image: url('../images/cannon.png');
    width: 16px;
    height: 16px;
    background-repeat:no-repeat;
}
.icon-type-CREW_MEMBERS{
    background-image: url('../images/crew.png');
    width: 16px;
    height: 16px;
    background-repeat:no-repeat;
}
.icon-type-ELITE_TALENTS{
  background-image: url('../images/talent.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-ILLICIT_UPGRADE{
  background-image: url('../images/illicit.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-MISSILES{
  background-image: url('../images/missile.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-MODIFICATIONS{
  background-image: url('../images/modification.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-SALVAGED_ASTROMECH{
  background-image: url('../images/salvaged_astromech.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-SYSTEM_UPGRADE{
  background-image: url('../images/system.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-TECH{
  background-image: url('../images/tech.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-TITLES{
  background-image: url('../images/title.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-TORPEDOES{
  background-image: url('../images/torpedo.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}
.icon-type-TURRETS {
  background-image: url('../images/turret.png');
  width: 16px;
  height: 16px;
  background-repeat:no-repeat;
}

.stat-font-style {
    font-family: 'Aldrich', sans-serif;
    /*font-size: 30pt;*/
    font-weight: bold;
}

.pilot-skill {
    color: #f57f20;
}

.text-primary-weapon {
    color: #cd1b3d;
}

.text-agility {
    color: #6dbe45;
}

.text-hull {
    color: #eeea1e;
}

.text-shield {
    color: #7fd5e7;
}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}